<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.imagitas.cordova.plugins.settings" version="0.1.1">
	<name>Settings</name>
    <description>Plugin that opens app specific or generic settings</description>
    <license>Apache 2.0</license>
    <keywords>cordova,settings</keywords>
    <js-module src="www/settings.js" name="settings">
        <merges target="plugins.settings" />
    </js-module>
    <platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="Settings">
				<param name="ios-package" value="Settings"/>
			</feature>
		</config-file>
		<header-file src="src/ios/Settings.h"/>
		<source-file src="src/ios/Settings.m"/>
	</platform>
</plugin>
